<!doctype html>
<html lang="en">

<head>
	<!--
		Author: Santript Sharma (2020)
	-->
	<title>VideoSplit Data Augmentation</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/augmentation.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript" src="{{ url_for('static', filename='styles/index.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='json/data.json') }}"> </script>

<body style="background-color: 	#fff">
	
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><p style="color: #fff">VideoSplit Augmentation</p></a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="{{url_for('allProcesses')}}"><p style="color: #fff">About</p></a></li>
	      <li><a href="{{url_for('allProcesses')}}"><p style="color: #fff">Video Splitting</p></a></li>
	      <li><a href="{{url_for('index')}}"><p style="color: #fff">Augmentation</p></a></li>
	      <li><a href="{{url_for('allPreprocess')}}"><p style="color: #fff">Preprocessing</p></a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#"><p style="color: #fff">Sign Up</p></a></li>
	    	<li><a href="#"><p style="color: #fff">Log In</p></a></li>
	    </ul>
	  </div>
	</nav>
	<div id="nav-gradient">
		<div class="container">
			<br><br>
			<h2 style="color: #fff"><b>Image Augmentation</b></h2>
			<br>
			<h5 style="color: #fff">In this step, you can select the augmentation techniques</h5>
			<h5 style="color: #fff">you wish to apply on your images. Each image will be</h5>
			<h5 style="color: #fff">augmented based on what you select.</h5>
		</div>
	</div>
	<div class="subjectMatterCount">
		<label># of dog images:</label>
		<span style="padding-right: 10px" id="numDog">{{numberDog}}</span>
		<label># of car images:</label>
		<span style="padding-right: 10px" id="numCar">{{numberCar}}</span>
		<label># of plane images:</label>
		<span style="padding-right: 10px" id="numPlane">{{numberPlane}}</span>
	</div>
	<div class="container">
		<fieldset>
			<br>
			<h4>Select the augmentation techniques: (<a href="../static/pics/augmentation/htmlcar.jpg" target="_blank">view original image</a>)</h4>
			<div class="row">
				<div class="column">
					<input type="checkbox" id="makeGrayScale" name="makeGrayScale"/><label for="makeGrayScale"></label>
					<figcaption><b>Make Gray Scale</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="addEmboss" name="addEmboss"/><label for="addEmboss"></label>
					<figcaption><b>Emboss Data</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="addEdgeEnhance" name="addEdgeEnhance"/><label for="addEdgeEnhance"></label>
					<figcaption><b>Add Edge Enhancement</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="addExtraEdgeEnhance" name="addExtraEdgeEnhance"/><label for="addExtraEdgeEnhance"></label>
					<figcaption><b>Add Extra Edge Enhancement</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="convertRGBToHSV" name="convertRGBToHSV"/><label for="convertRGBToHSV"></label>
					<figcaption><b>Convert to HSV</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="flipImg" name="flipImg"/><label for="flipImg"></label>
					<figcaption><b>Flip Image</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="mirrorImg" name="mirrorImg"/><label for="mirrorImg"></label>
					<figcaption><b>Mirror Image</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="xShearImg" name="xShearImg"/><label for="xShearImg"></label>
					<figcaption><b>Apply X-Axis Shear</b></figcaption>
				</div>
				<div class="column">
					<input type="checkbox" id="yShearImg" name="yShearImg"/><label for="yShearImg"></label>
					<figcaption><b>Apply Y-Axis Shear</b></figcaption>
				</div>
			</div>
			<br>
			<button class="btn btn-danger" name="confirmAugmentation" id="confirmAugmentation" onclick="showAugmentationMethods();">Confirm Augmentation Methods</button>
			<!--<input type="Submit" name="confirmAugmentation" id="confirmAugmentation" onclick="showAugmentationMethods(); sendAugmentation();" value="Confirm Augmentation Methods"/>-->
			<br><br>
			<div id = "postAugmentation" style="display: none">
				<strong>Augmentation methods chosen:</strong>
				<br><br>
				<p id="showGrayScale" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showEmboss" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showEdgeEnhance" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showExtraEdgeEnhance" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showRGBToHSV" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showFlipImg" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showMirrorImg" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showXShear" style="text-indent: 2em; font-size: 12px"></p>
				<p id="showYShear" style="text-indent: 2em; font-size: 12px"></p>
				<br>
				<div class="text-right">
					<input class="btn btn-success" type="Submit" name="startAugmentation" id="startAugmentation" onclick=" sendAugmentation();" value="Start Augmentation"/>
				</div>
				<br>
			</div>
		</fieldset>
	</div>
</body>

</html>