<!doctype html>
<html lang="en">

<head>
	<!--
		Author: Santript Sharma (2020)
	-->
	<title>VideoSplit Data Augmentation</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--<script type="text/javascript" src="./main.js"></script>-->
<script src="{{ url_for('static',filename='styles/main.js') }}"> </script>

<body>
	<h1>VideoSplit Augmentation</h1>
	<div class="subjectMatterCount">
		<label># of dog images:</label>
		<span style="padding-right: 10px" id="numDog">0</span>
		<label># of car images:</label>
		<span style="padding-right: 10px" id="numCar">0</span>
		<label># of plane images:</label>
		<span style="padding-right: 10px" id="numPlane">0</span>
	</div>
	<form method="POST" enctype="multipart/form-data">
		<fieldset>
			<legend><b>Step 1: Video to Frames</b></legend>
			<br>
			<label for="subjectMatter">Select video suject matter:</label>
			<select onchange="changeSelection();" onfocus="this.selectedIndex = -1;" id="first_select">
				<option value="-1">select</option>
				<option value="numDog">Dog</option>
				<option value="numCar">Car</option>
				<option value="numPlane">Plane</option>
			</select>
			<br><br>
			<form enctype="multipart/form-data" action="/upload" method="POST">
				<!--<label for="myfile">Select video file:</label>-->
				<p>Upload Video File: <input type="file" accept="video/*" name="vidFile" id="vidFile"/></p>
				<p><input type="Submit" for="vidFile" value="Start"/></p>
				<!--<input type="file" name="vidFile" id="vidFile"/><br><br>
				<input type="Submit" value="Go">-->
			</form>
		</fieldset>
		<fieldset>
			<legend><b>Step 2: Augmentation</b></legend>
		</fieldset>
	</form>
</body>

</html>