<!doctype html>
<html lang="en">

<head>
	<!--
		Author: Santript Sharma (2020)
	-->
	<title>VideoSplit Data Augmentation</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript" src="{{ url_for('static', filename='styles/index.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='json/data.json') }}"> </script>

<body style="background-color: 	#fff">

	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><p style="color: #fff">VideoSplit Augmentation</p></a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="{{url_for('allProcesses')}}"><p style="color: #fff">About</p></a></li>
	      <li><a href="{{url_for('allProcesses')}}"><p style="color: #fff">Video Splitting</p></a></li>
	      <li><a href="{{url_for('index')}}"><p style="color: #fff">Augmentation</p></a></li>
	      <li><a href="{{url_for('allPreprocess')}}"><p style="color: #fff">Preprocessing</p></a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#"><p style="color: #fff">Sign Up</p></a></li>
	    	<li><a href="#"><p style="color: #fff">Log In</p></a></li>
	    </ul>
	  </div>
	</nav>

	<div id="nav-gradient">
		<div class="container">
			<br><br>
			<h2 style="color: #fff"><b>Preprocessing</b></h2>
			<br>
			<h5 style="color: #fff">In this step, you can select the ways you would like</h5>
			<h5 style="color: #fff">to preprocess the dataset. After preprocessing, the</h5>
			<h5 style="color: #fff">dataset is organized and sent to you as a ZIP file!</h5>
		</div>
	</div>

	<div class="subjectMatterCount">
		<label># of dog images:</label>
		<span style="padding-right: 10px" id="numDog">{{numberDog}}</span>
		<label># of car images:</label>
		<span style="padding-right: 10px" id="numCar">{{numberCar}}</span>
		<label># of plane images:</label>
		<span style="padding-right: 10px" id="numPlane">{{numberPlane}}</span>
	</div>
	<div class="container">
		<form method="POST" enctype="multipart/form-data">
			<fieldset>
				<h3>Resizing</h3>
				<p>
					<label>Enter Base Width for Images</label>
					<input type="baseWidth" name="baseWidth" id="baseWidth" value=""/>
					(200 recommended)
				</p>
				<h3>Normalization</h3>
				<input type="checkbox" id="normalize" name="normalize">
				<label for="normalize">Yes, I want to normalize</label><br>

				<h3>Subpixel Layout</h3>
				<input type="checkbox" name="rgb" id="rgb">
				<label for="rgb">RGB</label><br>
				<input type="checkbox" name="bgr" id="bgr">
				<label for="rgb">BGR</label>
				<br><br>
				<div class="text-center">
					<button class="btn btn-primary" onclick="sendPreprocessingData();">Preprocess</button>
					<br><br>
					<div style="display: none;" class="loader" id="my_loader"></div>
				</div>
			</fieldset>
			<br>
			<!--<button onclick="sendZipConfirmation();">Generate ZipFile</button>-->
		</form>
		<br>
		<div class="text-right">
			<a href="{{url_for('download_file')}}" target="blank"><button class="btn btn-success">Download Zipfile</button></a>
		</div>
		<br>
	</div>
</body>
</html>