/*HELLO */
/*

===============
	STYLING
===============

*/

body {
	color: black;
}

h1 {
	text-align: center;
}

button {
	cursor: pointer;
}

.subjectMatterCount {
	position: relative;
	text-align: right;
	font-size: 14px;
}